/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    color: #007BFF;
}

.form-group {
    margin-bottom: 15px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

span#span_lable {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button#remove {
    background-color: #d80000;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    max-height: 800px;
}

.hidden {
    display: none;
}

/* 响应式设计 */
@media (max-width: 600px) {
    .form-group {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}